<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Black and White</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <h4>Black and White spa</h5>
      <form action="/crear">
        <div id="imagen">
          <label for="title">Imagen URL:</label>
          <input type="text" name="img" id="img"/>
          <button type="submit" id="btn-submit">
            Subir imagen al servidor
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
